.style-switcher {
  position: fixed;
  right: 0;
  padding: 15px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid var(--bg-black-50);
  background-color: var(--bg-black-100);
  transition: all 0.3s ease;
  transform: translateX(100%);
  z-index: 101;
}
.style-switcher .day-night {
  position: absolute;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 20px;
  background-color: var(--bg-black-100);
  color: var(--text-black-900);
  right: 100%;
  border-radius: 50%;
  border: 1px solid var(--bg-black-50);
  margin-right: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.style-switcher .day-night em {
  line-height: 40px;
  
}
.style-switcher .day-night {
  top: 55px;
}


